### `Task` Train a KNN model on glass type dataset and find best n_neighnours.

Data Link: https://drive.google.com/file/d/17cbDNBmys04MJqQfrma3jd72VPMnxIq0/view?usp=share_link

In [1]:
# Your code goes here
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df=pd.read_csv('CSVs/glass.csv')

In [3]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
df.shape

(214, 10)

In [5]:
df.iloc[:,-1].value_counts()

Type
2    76
1    70
7    29
3    17
5    13
6     9
Name: count, dtype: int64

In [6]:
X=df.drop(columns=['Type'])
y=df.loc[:,'Type']

In [7]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
X_scale=scale.fit_transform(X)

In [8]:
#for scaled ones
# X_train,X_test,y_train,y_test=train_test_split(X_scale,y,test_size=0.2,random_state=13)

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=13)

In [8]:
X_train.shape

(171, 2)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
n=range(1,40)
scores=[]
for i in n:
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    y_pred=knn.predict(X_test)
    scores.append(accuracy_score(y_test,y_pred))
    print("k=",i,"accuracy=",accuracy_score(y_test,y_pred),'\n')

k= 1 accuracy= 0.37209302325581395

k= 2 accuracy= 0.32558139534883723

k= 3 accuracy= 0.3953488372093023

k= 4 accuracy= 0.4418604651162791

k= 5 accuracy= 0.4186046511627907

k= 6 accuracy= 0.37209302325581395

k= 7 accuracy= 0.37209302325581395

k= 8 accuracy= 0.37209302325581395

k= 9 accuracy= 0.4186046511627907

k= 10 accuracy= 0.4186046511627907

k= 11 accuracy= 0.4186046511627907

k= 12 accuracy= 0.37209302325581395

k= 13 accuracy= 0.3953488372093023

k= 14 accuracy= 0.4418604651162791

k= 15 accuracy= 0.3953488372093023

k= 16 accuracy= 0.4186046511627907

k= 17 accuracy= 0.37209302325581395

k= 18 accuracy= 0.3953488372093023

k= 19 accuracy= 0.3953488372093023

k= 20 accuracy= 0.4186046511627907

k= 21 accuracy= 0.4418604651162791

k= 22 accuracy= 0.4186046511627907

k= 23 accuracy= 0.3953488372093023

k= 24 accuracy= 0.3953488372093023

k= 25 accuracy= 0.37209302325581395

k= 26 accuracy= 0.3488372093023256

k= 27 accuracy= 0.37209302325581395

k= 28 accuracy= 0.3488372093023256

k= 29 accuracy= 0.27906976744186046

k= 30 accuracy= 0.37209302325581395

k= 31 accuracy= 0.37209302325581395

k= 32 accuracy= 0.37209302325581395

k= 33 accuracy= 0.37209302325581395

k= 34 accuracy= 0.37209302325581395

k= 35 accuracy= 0.4186046511627907

k= 36 accuracy= 0.4186046511627907

k= 37 accuracy= 0.3953488372093023

k= 38 accuracy= 0.3488372093023256

k= 39 accuracy= 0.3488372093023256

In [18]:
scores[0]=0
# scores[2]=0
# scores[1]=0

In [19]:


max(scores),scores.index(max(scores))+1

(0.4418604651162791, 4)

In [20]:
knn=KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
accuracy_score(y_test,y_pred)

0.4418604651162791