In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("CSVs/Social_Network_Ads.csv")

In [3]:
df=df.iloc[:,1:]

In [4]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [6]:
encoder = LabelEncoder()

In [7]:
df['Gender']=encoder.fit_transform(df['Gender'])

In [8]:
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X=df.iloc[:,:2]
y=df.iloc[:,3]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=13)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
knn = KNeighborsClassifier(n_neighbors=10)

In [13]:
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8625

In [15]:
X_test.shape,X_train.shape

((80, 2), (320, 2))

In [16]:
from collections import Counter

class MeraKNN:

    def __init__(self,k):
        self.k=k
        self.X_train=None
        self.X_test=None
    
    def fit(self,X_train,y_train):
        self.X_train = X_train
        self.y_train = y_train

    def predict(self,X_test):
        y_pred=[]
        for i in X_test:

            distances=[]
            for j in self.X_train:
                distances.append(self.calculate_distance(i,j))
            # we have to retain index (use enumerate) of the distance as well to know from which X_train row got the minimum value
            # sorting is based on key, where key is lamba x (syntax h esa) such that x is x[1]
            n_neighbors=sorted(list(enumerate(distances)),key=lambda x:x[1])[0:self.k]
            label = self.majority_count(n_neighbors)
            y_pred.append(label)
        return np.array(y_pred) 
    
    def calculate_distance(self,point_A,point_B):
        #it is in numpy library that returns euclidian distance b/w two points or say it returns determinant value of AB vector 
        return np.linalg.norm(point_A-point_B)
    
    def majority_count(self, neighbors):
        votes = []
        for i in neighbors:
            votes.append(self.y_train[i[0]])
        votes = Counter(votes)

        return votes.most_common()[0][0]

In [21]:
# from campusx
class MYKnn:

    def __init__(self,k=5):
        self.n_neighbors = k
        self.X_train = None
        self.y_train = None

    def fit(self,X_train,y_train):
        self.X_train = X_train
        self.y_train = y_train

    def predict(self,X_test):

        y_pred = []

        for i in X_test:
            # calculate distance with each training point
            distances = []
            for j in self.X_train:
                distances.append(self.calculate_distance(i,j))
            n_neighbors = sorted(list(enumerate(distances)),key=lambda x:x[1])[0:self.n_neighbors]
            label = self.majority_count(n_neighbors)
            y_pred.append(label)
        return np.array(y_pred)


    def calculate_distance(self,point_A,point_B):
        return np.linalg.norm(point_A - point_B)

    def majority_count(self,neighbors):
        votes = []
        for i in neighbors:
            votes.append(self.y_train[i[0]])
        votes = Counter(votes)

        return votes.most_common()[0][0]

In [22]:
myknn = MYKnn(k=3)
myknn.fit(X_train, y_train)
pred_y=myknn.predict(X_test)
accuracy_score(y_test,pred_y)

KeyError: 106

# Some unresolved error is here