In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CSVs/IMDB DATASET.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df.shape

(50000, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

### Text Cleaning

1. Sample 10000 rows
2. Remove html tags
3. Remove special characters
4. Converting every thing to lower case
5. Removing Stop words
6. Stemming

In [7]:
DF=df.sample(10000)
DF

                                                  review sentiment
23817  What can I say about Cruel intentions 2? Well,...  negative
38039  It's fun to watch a young James Cagney doing h...  positive
11449  If there's anything worse than this movie I do...  negative
46901  Victor Jory never became a major star. He is b...  negative
33173  This movie is one of my all time favorites. I ...  positive
...                                                  ...       ...
43625  As this happens to be one of most favorite nov...  positive
32468  With its rerelease by ADV Films, I've had a ch...  positive
46831  This movie is amazing because the fact that th...  positive
44947  Academy Awarding actor Sidney Poitier of "Lili...  negative
6473   If you only read a synopsis of the plot, this ...  positive

[10000 rows x 2 columns]

In [8]:
DF['sentiment'].replace({'positive':1,'negative':0},inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_16100\1880999097.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DF['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [9]:
DF

                                                  review  sentiment
23817  What can I say about Cruel intentions 2? Well,...          0
38039  It's fun to watch a young James Cagney doing h...          1
11449  If there's anything worse than this movie I do...          0
46901  Victor Jory never became a major star. He is b...          0
33173  This movie is one of my all time favorites. I ...          1
...                                                  ...        ...
43625  As this happens to be one of most favorite nov...          1
32468  With its rerelease by ADV Films, I've had a ch...          1
46831  This movie is amazing because the fact that th...          1
44947  Academy Awarding actor Sidney Poitier of "Lili...          0
6473   If you only read a synopsis of the plot, this ...          1

[10000 rows x 2 columns]

In [ ]:
import re
clean = re.compile('<.*?>')
re.sub(clean,'',DF.iloc[2].review)